/* 공통속성 */
*{box-sizing: border-box;}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

a{text-decoration: none; color: #333;}

.inner{
    width: 1280px;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    margin: 0 auto;
}



#wrap{}

#header{
    width: 100%;
    height: 205px;
    background: rgba(255, 192, 203, 0.541);
}
#header .header_until{
    width: 100%;
    height: 45px;
    background: rgb(245, 245, 245);
}
#header .header_until .inner{
    display: flex;
    align-items: center;
}
#header .header_until .inner p{
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #626476;
}
#header .header_until .inner p img{
    margin-right: 5px;
    vertical-align: middle;
}


#header .header_head{
    width: 100%;
    height: 101px;
    background: red;
}
#header .header_head .inner{}
#header .header_head .inner .header_head_wrap{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
#header .header_head .inner .header_head_wrap .header_logo{
    background: url(../img/ft_logo.svg) no-repeat left center;
    width: 285px;
    height: 97px;
}
#header .header_head .inner .header_head_wrap .header_right{
    position: absolute;
    top: 0;right: 0;
    
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top{
    padding: 20px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul{
    display: flex;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li{}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li>a{
    color: #3f3f3f;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li:first-child>a:before{
    content: "";
    background: url(../img/ico_linkEng.png);
    position: absolute;
    left: 0; top: 3.5px;
    width: 16px;
    height: 16px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li:last-child>a:before{
    content: "";
    background: url(../img/ico_linkMob.png);
    position: absolute;
    left: 0; top: 3.5px;
    width: 16px;
    height: 16px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li>a:after{}

#header .header_head .inner .header_head_wrap .header_right .header_R_bottom{}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form{}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form label{}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form .search{}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form .button{}
