/* 공통속성 */
*{box-sizing: border-box;}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}

a{text-decoration: none; color: #333;}

.inner{
    width: 1280px;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    margin: 0 auto;
}



#wrap{}

#header{
    width: 100%;
    height: 205px;
    background: rgba(255, 192, 203, 0.541);
}
#header .header_until{
    width: 100%;
    height: 45px;
    background: rgb(245, 245, 245);
}
#header .header_until .inner{
    display: flex;
    align-items: center;
}
#header .header_until .inner p{
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    color: #626476;
}
#header .header_until .inner p img{
    margin-right: 5px;
    vertical-align: middle;
}
/* 헤더언틸 끝 */



#header .header_head{
    width: 100%;
    height: 100px;
}
#header .header_head .inner .header_head_wrap{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
#header .header_head .inner .header_head_wrap .header_logo{
    background: url(../img/ft_logo.svg) no-repeat left center;
    width: 285px;
    height: 97px;
}
#header .header_head .inner .header_head_wrap .header_right{
    position: absolute;
    top: 0;right: 0;
    
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top{
    padding: 15px 0;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul{
    display: flex;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li{
    padding-right: 20px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li>a{
    color: #3f3f3f;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li:first-child>a:before{
    content: "";
    background: url(../img/ico_linkEng.png) no-repeat;
    position: absolute;
    left: 0; top: 1.5px;
    width: 16px;
    height: 16px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li:last-child>a:before{
    content: "";
    background: url(../img/ico_linkMob.png) no-repeat;
    position: absolute;
    left: 0; top: 1.5px;
    width: 16px;
    height: 16px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_top>ul>li>a:after{
     content: "";
    background: url(../img/ico_link.png) no-repeat;
    position: absolute;
    right: 0; top: 1.5px;
    width: 16px;
    height: 16px;
}

#header .header_head .inner .header_head_wrap .header_right .header_R_bottom{
    width: 420px;
    height: 44px;
    display: flex;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form{
    width: 100%;
    height: 100%;
    position: relative;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form label{
    display: none;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form .search{
    width: 81%;
    height: 100%;
    padding: 0 16px;
    border: 2px solid #555;
    border-radius: 10px 0 0 10px;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form .search:focus{
    border: none;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form button{
    position: absolute;
    right: 0; top: 0;
    display: flex;
    width: 20%;
    height: 100%;
    background: #555;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
   border-radius: 0 10px 10px 0;
   cursor: pointer;
}
#header .header_head .inner .header_head_wrap .header_right .header_R_bottom form button::after{
    content: "";
    background: url(../img/search-new-icon.png) no-repeat;
    width: 20px;
    height: 20px;
}
/* 헤더헤드 끝 */



#nav{
    width: 100%;
    height: 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#nav .inner{}
#nav .inner .nav_gnb{}
#nav .inner .nav_gnb_nav_bg{
    width: 100%;
    height: 352px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: absolute;
    top: 0; left: 0;
}
#nav .inner .nav_gnb_nav_bg ul{}
#nav .inner .nav_gnb_nav_bg ul li{}
#nav .inner .nav_gnb_nav_bg ul li a{}


#nav .inner .nav_gnb .nav_menu{}
#nav .inner .nav_gnb .nav_menu a{}